<div class="ContainerLS">
    <div class="SubContainer">
        <div class="initials">
            <img src="/assets/Images/LandingPage/Logo-SolidAsset 2PNG.png">
        </div>

        <div class="ShowR">
            <div class="photo1 phot"><img src="/assets/Images/LandingPage/PERSPECTIVA 22@2x.png"></div>
            <div class="photo2 phot"><img src="/assets/Images/LandingPage/render 1 linii@2x.png"></div>
            <div class="photo3 phot"><img src="/assets/Images/LandingPage/baie corect2@2x.png"></div>
            <div class="photo4 phot"><img src="/assets/Images/LandingPage/Render3@2x.png"></div>
        </div>
    </div>
    </div>


<div class="AboutMe">
    <div class="AboutMeSub"> 
    
        <div class="photoProfile"><img src="../assets/Images/LandingPage/66382338_2278570159047610_5188950608219996160_n.jpg"></div>

        <div class="About_Section">
            <a2>Welcome ! </a2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias dolorum praesentium tempore, tempora in consequatur repellat atque ad minus rem cumque distinctio! Facilis totam aspernatur accusamus labore placeat, culpa animi.</p></div>
    </div>
</div>

<div class="Info">
    <div class="InfoSub">
        <div class="Icons">
        
            <img src="../assets/Images/icons/Group 25.png">
            <a3>Text here </a3>
        </div>
        
        <div class="Icons">
            <img src="../assets/Images/icons/Group 26.png">
            <a3>Text here </a3>
        </div>
        <div class="Icons">
            <img src="../assets/Images/icons/Group 27.png">
            <a3>Text here </a3>
        </div>
        
        <div class="Icons ">
            <img src="../assets/Images/icons/Group 12.png">
            <a3>Text here </a3>
        </div>
    </div>
</div> 

<div class="hire">
    <div class="hireSub">
        <a>Contact me</a>
    </div>
</div>